<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aviso Legal - Everforge</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
  <header>
    <div class="logo">
      <img width="300" height="200" src="../assets/images/logo.png" alt="" />
    </div>
    <nav aria-label="Menú principal">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="merch.html">Tienda</a></li>
        <li><a href="pedidos.html">Pedidos</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="nosotros.html">Quienes somos</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="about-page">
      <h1>Aviso Legal</h1>

      <div class="about">
        <h2>1. Información General</h2>
        <p>
          En cumplimiento con el deber de información establecido en la
          normativa vigente, se informa que el presente sitio web, Everforge,
          es una página web ficticia creada con fines educativos.
        </p>

        <p>
          Titular: Everforge (proyecto ficticio)<br />
          Email de contacto: contacto@everforge.com
        </p>

        <h2>2. Objeto</h2>
        <p>
          El presente sitio web tiene como finalidad mostrar contenido
          relacionado con merchandising ficticio inspirado en videojuegos,
          concretamente en el universo de World of Warcraft.
        </p>

        <h2>3. Propiedad Intelectual</h2>
        <p>
          Todos los contenidos de esta web, incluyendo textos, diseños,
          logotipos e imágenes, son utilizados con fines educativos y sin
          ánimo de lucro.
        </p>

        <p>
          World of Warcraft es una marca registrada de Blizzard Entertainment,
          Inc. Esta página no está afiliada ni respaldada por Blizzard
          Entertainment.
        </p>

        <h2>4. Uso del Sitio Web</h2>
        <p>
          El usuario se compromete a hacer un uso adecuado de los contenidos y
          servicios que se ofrecen a través de esta web.
        </p>

        <h2>5. Responsabilidad</h2>
        <p>
          El titular no se hace responsable del mal uso que se realice de los
          contenidos de esta página web.
        </p>

        <h2>6. Protección de Datos</h2>
        <p>
          Este sitio web no recoge datos personales reales, ya que se trata de
          un proyecto ficticio.
        </p>

        <h2>7. Legislación Aplicable</h2>
        <p>
          La relación entre el usuario y el titular se regirá por la normativa
          vigente en España.
        </p>
      </div>
    </section>
  </main>
  <!--footer-->
  <footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3 class="montserrat-bold">Everforge</h3>
        <p class="montserrat-regular">Equipando a los héroes de Azeroth.</p>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Contacto</h4>
        <ul>
          <li>
            Email:
            <a href="mailto:contacto@everforge.com">contacto@everforge.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Encuentranos</h4>
        <ul>
          <li>Dirección:Calle Azeroth 12, 28000 Ventormenta, España</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Legal</h4>
        <ul>
          <li><a href="aviso-legal.html">Aviso Legal</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4 class="montserrat-bold">Síguenos</h4>
        <div class="social-links">
          <a href="https://instagram.com" target="_blank" class="insta-link">
            <i class="fa-brands fa-instagram"></i> Instagram
          </a>

          <a href="https://facebook.com" target="_blank" class="facebook-link">
            <i class="fa-brands fa-facebook"></i> Facebook
          </a>

          <a href="https://twitter.com" target="_blank" class="twitter-link">
            <i class="fa-brands fa-x-twitter"></i> Twitter
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="montserrat-regular">
        &copy; 2026 Everforge - ¡Por la Alianza y la Horda!
      </p>
    </div>
  </footer>
</body>

</html>