<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Everforge - Merch</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<!--links a todas las páginas-->

<body>
  <header>
    <div class="logo">
      <img width="300" height="200" src="../assets/images/logo.png" alt="Everforge">
    </div>
    <nav aria-label="Menú principal">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../views/merch.html" class="activo">Tienda</a></li>
        <li><a href="../views/pedidos.html">Pedidos</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
        <li><a href="../views/nosotros.html">Quienes somos</a></li>
        <li><a href="../views/login.html">Login</a></li>


      </ul>
    </nav>
  </header>
  <main class="merch">
    <h1>Nuestro botín</h1>

    <!-- Sección Camisetas -->
    <section class="categoria" id="camisetas">
      <h2>Camisetas</h2>
      <div class="producto-row">
        <article class="producto">
          <h3>Camiseta de la Alianza</h3>
          <img width="300" height="200" src="../assets/images/camiseta-world-of-warcraft-alianza.jpg"
            alt="Camiseta de la Alianza" />
          <p>19.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Camiseta de la Horda</h3>
          <img width="300" height="200" src="../assets/images/camiseta-world-of-warcraft-horda.jpg"
            alt="Camiseta de la Horda" />
          <p>19.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Camiseta de Azeroth Alianza</h3>
          <img width="300" height="200" src="../assets/images/camiseta-azeroth-alianza.jpg"
            alt="Camiseta de Azeroth Alianza" />

          <p>19.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Camiseta de Azeroth Horda</h3>
          <img width="300" height="200" src="../assets/images/camiseta-azeroth-horda.jpg"
            alt="Camiseta de Azeroth Horda" />
          <p>19.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Camiseta World of Warcraft Logo</h3>
          <img width="300" height="200" src="../assets/images/camiseta-world-of-warcraft.jpg"
            alt="Camiseta World of Warcraft Logo" />
          <p>19.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>
      </div>
    </section>

    <!-- seccion figuras -->
    <section class="categoria" id="figuras">
      <h2>Figuras</h2>
      <div class="producto-row">
        <article class="producto">
          <h3>Figura Thrall</h3>
          <img width="300" height="200" src="../assets/images/figura-thrall.jpg" alt="Figura Thrall" />
          <p>199.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Figura Jaina Proudmoore</h3>
          <img width="300" height="200" src="../assets/images/figura-jaina-proudmoore.jpg"
            alt="Figura Jaina Proudmoore" />
          <p>199.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Figura Arthas Menethil</h3>
          <img width="300" height="200" src="../assets/images/figura-arthas-menethil.jpg"
            alt="Figura Arthas Menethil" />
          <p>199.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Figura Sylvanas Windrunner</h3>
          <img width="300" height="200" src="../assets/images/figura-sylvanas-windrunner.jpg"
            alt="Figura Sylvanas Windrunner" />
          <p>199.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Figura illidan Stormrage</h3>
          <img width="300" height="200" src="../assets/images/figura-illidan-stormrage.jpg"
            alt="Figura illidan Stormrage" />
          <p>199.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>
      </div>
    </section>
    <!-- Sección Tazas y Llaveros -->
    <section class="categoria" id="tazas-llaveros">
      <h2>Llaveros y Tazas</h2>
      <div class="producto-row">
        <article class="producto">
          <h3>Llaveros de la Horda y la Alianza</h3>
          <img width="300" height="200" src="../assets/images/llaveros-horda-alianza.jpg"
            alt="Llaveros de la Horda y la Alianza" />
          <p>5.99€ (por separado) o 9.99€ (juntos)</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>

        <article class="producto">
          <h3>Taza de World of Warcraft</h3>
          <img width="300" height="200" src="../assets/images/taza-wow.jpeg" alt="Taza de World of Warcraft" />
          <p>9.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>
        <article class="producto">
          <h3>Taza de la Horda</h3>
          <img width="300" height="200" src="../assets/images/taza-horda.jpg" alt="Taza de la Horda" />
          <p>12.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>
        <article class="producto">
          <h3>Taza de la Alianza</h3>
          <img width="300" height="200" src="../assets/images/taza-alianza.jpg" alt="Taza de la Alianza" />
          <p>12.99€</p>
          <button class="btn-primary">Añadir al carrito</button>
        </article>
      </div>
    </section>
  </main>
  <!--footer-->
  <footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3 class="montserrat-bold">Everforge</h3>
        <p class="montserrat-regular">Equipando a los héroes de Azeroth.</p>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Contacto</h4>
        <ul>
          <li>
            Email:
            <a href="mailto:contacto@everforge.com">contacto@everforge.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Encuentranos</h4>
        <ul>
          <li>Dirección:Calle Azeroth 12, 28000 Ventormenta, España</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Legal</h4>
        <ul>
          <li><a href="aviso-legal.html">Aviso Legal</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4 class="montserrat-bold">Síguenos</h4>
        <div class="social-links">
          <a href="https://instagram.com" target="_blank" class="insta-link">
            <i class="fa-brands fa-instagram"></i> Instagram
          </a>
          <a href="https://facebook.com" target="_blank" class="facebook-link">
            <i class="fa-brands fa-facebook"></i> Facebook
          </a>

          <a href="https://twitter.com" target="_blank" class="twitter-link">
            <i class="fa-brands fa-x-twitter"></i> Twitter
          </a>

        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="montserrat-regular">
        &copy; 2026 Everforge - ¡Por la Alianza y la Horda!
      </p>
    </div>
  </footer>
</body>

</html>