<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Everforge - Quiénes somos</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<!--links a todas las páginas-->

<body>
  <header>
    <div class="logo">
      <img width="300" height="200" src="../assets/images/logo.png" alt="Everforge">
    </div>
    <nav aria-label="Menú principal">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../views/merch.html">Tienda</a></li>
        <li><a href="../views/pedidos.html">Pedidos</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
        <li><a href="../views/nosotros.html" class="activo">Quienes somos</a></li>
        <li><a href="../views/login.html">Login</a></li>
      </ul>
    </nav>
  </header>
  <!--seccion nosotros-->
  <main class="about-page">
    <div class="about">
      <h1>Everforge</h1>
    </div>
    <div class="intro">
      <h2>¿Quiénes somos?</h2>
      <p>
        Everforge es una tienda especializada en merchandising de World of
        Warcraft, ofreciendo productos únicos y exclusivos para los amantes
        del juego.
      </p>
    </div>
    <div class="objective">
      <h2>Nuestra Misión</h2>
      <p>
        Proveer a la comunidad de World of Warcraft con artículos de alta
        calidad que reflejen su pasión por el juego.
      </p>
    </div>
    <div class="team">
      <h2>Nuestro Equipo</h2>
      <p>
        Contamos con un equipo dedicado de entusiastas de World of Warcraft
        que trabajan arduamente para seleccionar y diseñar los mejores
        productos para nuestros clientes.
      </p>
    </div>
    <div class="values">
      <h2>Nuestros Valores</h2>
      <ul>
        <li>
          Calidad: Nos comprometemos a ofrecer productos de la más alta
          calidad.
        </li>
        <li>
          Pasión: Amamos lo que hacemos y eso se refleja en cada producto que
          ofrecemos.
        </li>
        <li>
          Comunidad: Valoramos a nuestra comunidad y nos esforzamos por crear
          una experiencia excepcional.
        </li>
      </ul>
    </div>
  </main>
  <div class="summary">
    <h2>
      En resumen: Somos una tienda dedicada a ofrecer productos únicos y de
      calidad para los amantes de World of Warcraft, ya que compartimos la
      misma pasión.
    </h2>
  </div>
  <!--footer-->
  <footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3 class="montserrat-bold">Everforge</h3>
        <p class="montserrat-regular">Equipando a los héroes de Azeroth.</p>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Contacto</h4>
        <ul>
          <li>
            Email:
            <a href="mailto:contacto@everforge.com">contacto@everforge.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Encuentranos</h4>
        <ul>
          <li>Dirección:Calle Azeroth 12, 28000 Ventormenta, España</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4 class="montserrat-bold">Legal</h4>
        <ul>
          <li><a href="aviso-legal.html">Aviso Legal</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4 class="montserrat-bold">Síguenos</h4>

        <div class="social-links">
          <a href="https://instagram.com" target="_blank" class="insta-link">
            <i class="fa-brands fa-instagram"></i> Instagram
          </a>

          <a href="https://facebook.com" target="_blank" class="facebook-link">
            <i class="fa-brands fa-facebook"></i> Facebook
          </a>

          <a href="https://twitter.com" target="_blank" class="twitter-link">
            <i class="fa-brands fa-x-twitter"></i> Twitter
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="montserrat-regular">
        &copy; 2026 Everforge - ¡Por la Alianza y la Horda!
      </p>
    </div>
  </footer>
</body>

</html>